<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>
                    <center>
                        naglowek
                    </center>
                </h3>
                <hr>
            </div>
            <div class="col-12">
                <h3>
                    <center>
                        {% include "./base/menuTopBar.html.twig" %}
                    </center>
                </h3>
                <hr>
            </div>
        </div>
    </div>
</header>