{% set data = userMenu.getTopBar() %}

<p>menu</p>
<p>{{data.message}}</p>
<a href="{{ path('base') }}">Home</a>
<a href="{{ path('app_login') }}" title="">login (jan2@poczta.fm h:janjan)</a>
<a href="{{ path('app_logout') }}">logout</a>

<a href="{{ path('app_register') }}">register</a>
<a href="{{ path('battle') }}">battle</a>