{% extends 'base.html.twig' %}
{% block body %}
<div ng-app="myApp" ng-controller="myCtrl">
  {{'{{ firstName + " " + lastName }}'}}
  </div>

  <script>

      var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {
$scope.firstName = "John";
$scope.lastName = "Doe";
});

  </script>
{% endblock %}