<html>
<head>
    {# {{ encore_entry_link_tags('app') }} #}
    <link href="{{ asset('/build/baseCss.css') }}" rel="stylesheet"/>
    <script src="{{asset('/lib/angularjs.min.js')}}"></script>

</head>
<body>
    {% include 'base/head.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'base/foot.html.twig' %}

    {# {{ encore_entry_script_tags('app') }} #}
    <script src="{{asset('/build/baseJs.js')}}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
